################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projetos/.vs/Projetos/FileContentIndex/0ca07534-f5a9-49f4-8aa3-5b92bca03b1f.vsidx
/.vs/Projetos/FileContentIndex/4fa6016e-ca43-4894-85e2-ac21be64d1ab.vsidx
